NEXT_PUBLIC_INITIA_CHAIN_ID=weavepay-1
NEXT_PUBLIC_INITIA_RPC_URL=http://localhost:26657
NEXT_PUBLIC_INITIA_REST_URL=http://localhost:1317
NEXT_PUBLIC_INITIA_INDEXER_URL=http://localhost:8080
NEXT_PUBLIC_INITIA_JSON_RPC_URL=http://localhost:8545
NEXT_PUBLIC_INITIA_DENOM=GAS
NEXT_PUBLIC_INITIA_DECIMALS=18
NEXT_PUBLIC_WEAVEPAY_CONTRACT=
